<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	<session-factory>
		<property name="connection.driver_class">NHibernate.Driver.FirebirdClientDriver</property>
		<property name="current_session_context_class">web</property>
		<property name="connection.connection_string">

			Server=localhost;
			database=D:\Treinamento\Banco\SusOnTrack.fdb;

			User=SYSDBA;
			Password=masterkey;
		</property>
		<!--<mapping assembly = "NHibernateDemoApp"/>-->
		<property name="adonet.batch_size">20</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="generate_statistics">false</property>
		<property name="show_sql">false</property>
		<property name="dialect">NHibernate.Dialect.FirebirdDialect</property>
		<property name="command_timeout">600</property>
		<property name="query.substitutions">true 'S', false 'N', yes 'S', no 'N', lower upper </property>
		<property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</property>
	</session-factory>
</hibernate-configuration>